@charset "UTF-8";
/* CSS Document */

.mst-wrapper {
    width: 100%;
    border: solid 2px #C9E9B5;
    padding: 5px;
    background-color: #fff;
    color: #222;
    font-weight:300!important;
    font-family: lato, Helvetica, Arial, "sans-serif";
}

.mst-inner {
     background-color:#fff; 
     padding: 15px;
     border: dotted 1px #C9E9B5;
}
.mst-wrapper table {
    margin-top: 15px;
    width: 100%;

}



.mst_jamat_col,
.mst_start_col {
    text-align: center; 
}


.mst_salat_col {
    font-weight: 600;
    color:#27B930!important;
    text-align: left; 
}
.mst-wrapper table td,
.mst-wrapper table th {
    
    padding: 5px;
    font-size: 18px;
}

.mst-title,
.mst-date {
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
}
.mst-date {
    font-size: 14px;
    line-height: 100%;
}
.mst-title h2 {
    margin: 0px;
    font-family: 'Playfair Display', serif;
    color:#27B930!important;
}
.mst-title h2,
.mst-wrapper table th {
    text-transform: none;
    
}
.mst-date,
.mst-blurb {
    border-top: solid 1px #27B930; 
    border-bottom: solid 1px #27B930;
    font-size: 14px;
}
.mst-blurb {
    margin-top:15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mst-blurb strong {
    font-weight: 700;
}